<% provide(:title, 'About') %>
<title> Craiglist - <%= yield(:title) %> </title>
<h1>About Craigslist</h1>
<p class = 'lead'>
   This a Craigslist where you can sell your stuffs to your colleagues.<BR>
   <b>Its different because</b>
   <ul>
   	<li>
   <strong> NO SPAM, </li>
   <li>TRUSTED SELLERS/BUYERS </li>
   <li> EMAIL SUBSCRIPTION TO SPECIFIC CATEGORY OF ITEMS </li>
   </strong>
</p>
<dl>
	<dt> How does it work ? <dt>
   <dd>  Its simple. Register with your company mail id. Post details about the item you are selling. Buyer will contact you to buy your items. </dd>

  <dt>Shipping ? </dt>
   	 <dd> No shipping. Meet the seller in person on Campus and get your item and pay the amount. <dd>

 <dt> Rate your Seller/Buyer </dt>
   	<dd> You can rate your seller/buyer on a scale of 5. </dd>

</dl>


</p>